<!--suppress ALL -->
<template>
    <div class="small-12 large-12 columns">
        <div class="table-holder">
            <table>
                <thead>
                <th>Registrar Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Course Name</th>
                <th>Course Type</th>
                <th>Amount</th>
                <th>Status</th>
                <th colspan="2">Action</th>
                </thead>
                <tbody>
                <tr v-for="payment in payments">
                    <td>{{payment.first_name}} {{payment.last_name}}</td>
                    <td>{{payment.email}}</td>
                    <td>{{payment.phone}}</td>
                    <td>{{payment.course.course_name}}</td>
                    <td>{{payment.type}}</td>
                    <td>{{payment.payment}}</td>
                    <td>{{payment.status}}</td>
                    <td><a :href="'/payments/'+payment.id+'/delete'" v-if="payment.payment == 'N/A'"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    <td><a :href="'/payments/'+payment.id+'/create'" v-if="payment.payment == 'N/A'"><i class="fa fa-money" aria-hidden="true"></i></a></td>
                </tr>
                </tbody>
            </table>
            <div class="pagination pull-right" v-if="pagination.total>10">
                <ul style="display: inline;">
                    <li style="margin-right: 10px">
                        {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                    </li>
                    <li>
                        Rows per page
                        <select name="" id="" v-model="limit" @change="addItems(limit)">
                            <option value="10" v-if="pagination.total>10">10</option>
                            <option value="25" v-if="pagination.total>25">25</option>
                            <option value="50" v-if="pagination.total>50">50</option>
                            <option value="100" v-if="pagination.total>100">100</option>
                        </select>
                    </li>
                    <li>
                        <a @click="getPayments(pagination.current_page-1)"
                           :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a @click="getPayments(pagination.current_page+1)"
                           :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                limit: 10,
                payments: [],
                pagination: {},
                input: {
                    status : this.status,
                    course: this.course
                }
            }
        },
        methods:{
            getPayments: function( page=null){
                let self = this;
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;

                this.$http.post('/api/get/payments', {
                    input: this.input,
                    pagination: this.pagination
                }).then(function (response) {
                    this.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.limit,
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    };
                    self.payments = response.data.data;

                }, function (response) {

                });
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getPayments();
            }
        },
        mounted: function () {
            Event.$on('filtering_payments', (filter) => {
                this.input=filter;
            this.getPayments(1);
        });

            this.getPayments();
        }

    }
</script>

<style scoped>

</style>