<template>
    <div class="small-12 large-12 columns">
        <div class="trainer-holder">

            <div class="row trainer-data" v-for="trainer in trainers">
              <div class="small-12 large-2 columns">
                  <div class="staff-image">
                      <img data-type="image" :src="trainer.photo" style="width: 150px; height: 154px; object-fit: cover;">
                  </div>
              </div>
                <div class="small-12 large-7 columns" style=" border-right: solid #d3d3d3 1px;">
                    <h6 style="font-size: 1.2rem; font-weight: 500;">{{trainer.first_name}} {{trainer.last_name}}</h6>
                    <p><b>{{trainer.title}}</b></p>
                    <p>{{trainer.details}}</p>
                </div>
                <div class="small-12 large-2 columns">
                    <h6 style="font-size: 1.2rem; font-weight: 600;">Accredited By:</h6>
                    <div class="accreditor-holder">
                        <img :src="trainer.accreditor" style="height: 120px" />
                    </div>
                </div>
                <div class="small-12 large-1 columns" style="text-align: center">
                    <p><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></p>
                    <p><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></p>
                </div>
            </div>

            <div class="pagination pull-right" v-if="pagination.total>10">
                <ul style="display: inline;">
                    <li style="margin-right: 10px">
                        {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
                    </li>
                    <li>
                        Rows per page
                        <select name="" id="" v-model="limit" @change="addItems(limit)">
                            <option value="10" v-if="pagination.total>10">10</option>
                            <option value="25" v-if="pagination.total>25">25</option>
                            <option value="50" v-if="pagination.total>50">50</option>
                            <option value="100" v-if="pagination.total>100">100</option>
                        </select>
                    </li>
                    <li>
                        <a @click="getTrainers(pagination.current_page-1)"
                           :disabled="!pagination.previous_page_url"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a @click="getTrainers(pagination.current_page+1)"
                           :disabled="!pagination.next_page_url"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return{
                limit: 10,
                trainers: [],
                pagination: {},
                input: {
                    trainer : this.trainer
                }
            }
        },
        methods:{
            getTrainers: function (page=null) {
                let self = this;
                if (page !== null)
                    this.pagination.current_page = page;

                this.pagination.per_page = this.limit;

                this.$http.post('/api/get/trainers', {
                    input: this.input,
                    pagination: this.pagination
                }).then(function (response) {
                    self.pagination = {
                        current_page: response.data.current_page,
                        last_page: response.data.last_page,
                        next_page_url: response.data.next_page_url,
                        prev_page_url: response.data.prev_page_url,
                        per_page: self.limit,
                        from: response.data.from,
                        to: response.data.to,
                        total: response.data.total
                    };
                    self.trainers = response.data.data;

                }, function (response) {

                });
            },
            addItems: function (limit) {
                this.per_page = limit;

                this.getTrainers();
            }
        },
        mounted: function () {
            Event.$on('filtering_trainers', (filter) => {
                this.input=filter;
                this.getTrainers(1);
            });

            this.getTrainers();
        }
    }
</script>
<style scoped>
    .staff-image {
        width: 150px;
        height: 153px;
        overflow: hidden;
        border-radius: 50%;
    }
    .trainer-data{
        border: solid gray 1px;
        padding: 1%;
        border-radius: 5px;
        margin-top: 1%;
    }
</style>