.booking-title{
  color: $text-color;
  text-align: center;
  padding-bottom: 2%;
  h5{
    color: $text-color;
  }
}
.booking-login{
  a{
    color: $text-color;
    padding-left: 2%;
  }
  a:hover{
    text-decoration: underline;
  }
}
.booking-intro{
  background-color: #ffffff;
  padding: 0;
}
.booking-pic{
  img{
    height: 375px;
    width: 100%;
  }
  padding: 0;
}
.booking-txt{
  position: relative;
.holder{
  text-align: center;
  position: absolute;
  top: 30%;
  left: 30%;
  font-family: 'open sans','sans-serif';
  h5{
    color: $primary-color;
    font-size: 20px;
  }
  p{
    font-size: 16px;
  }
}
}
.book-btn{
  background-color: $button-color;
}
.book-btn:hover{
  background-color:#000000;
}
.fc-left{
  h2{
    font-size: 1rem;
  }
}
.calendar-div{
  table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border-color: $primary-color !important;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  .fc-today{
    span{
      border-bottom: solid $primary-color 2px;
    }
  }
}
.meet-holder{
  position: relative;
  padding-left: 10%;
  padding-top: 4%;
}
.lets-meet{
  text-align: center;
  width: 250px;
  padding: 2%;
  border: solid black 1px;
  input[type='text'],input[type='email'],textarea{
    -webkit-appearance: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 90%;
  }
}
.booking-btn{
  width: 95%;
  background-color: $button-color;
}
.booking-btn:hover{
  background-color: #000000;
}
.book-details{
  color:$text-color;
  input[type='text'],input[type='email'],textarea{
    -webkit-appearance: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 90%;
  }
}