
.course-icons-div{
  border-radius: 50%;
  background: $primary-color;
  color: white;
  width: 75px;
  height: 76px;
  position: relative;
  fill-opacity: 0;
  stroke-width: 2;
  stroke: rgb(255, 255, 255);
  stroke-opacity: 1;
  fill: rgb(255, 255, 255);
}
.course-icon-svg{
  stroke-width: 5px;
  width: 43px;
  height: 43px;
  position: absolute;
  bottom: 22%;
  left: 16px;
}
.course-title-icon{
}
.course-title-div{

  h2{
    text-transform: uppercase !important;
    font-size: 24px;
    font-weight: 600;
    font-family: futura-lt-w01-book,sans-serif;;
  }
  p{
    font-size: 14px;
  }
}
.course-detail{
  padding: 0 0 0 1%;
  border-bottom: solid $text-color 1px;
  h2{
    font-size: 28px;
    color: $text-color;
  }
}
.course-description{
  padding: 1%;
  p{
    font-size: 12px;
  }
}
.course-info{
  margin-top: 1%;
  padding: 2%;
  background-color: #DCDCDC;
  border-left: solid $primary-color 5px;
  p{
    line-height: 1;
  }
}
.course-header{
  background: $primary-color;
  color: #ffffff;
}
.sigma-courses{
  h5{
    font-size: 18px;
    font-weight: 600;
  }
  text-align: center;
  padding: 1%;
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
}
.sigma-courses-popular{
  h5{
    font-size: 18px;
    font-weight: 600;
  }
  padding: 1%;
  text-align: center;
  background: #fa5738;
  border: none;
  color: #fff;
  position: relative;
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
}
.sigma-btn{
  background-color: #2b2b2b;
  font-weight: 600;
}
.sigma-btn:hover{
  background-color: #000000;
}
.price{
  font-size: 16px;
  font-weight: 600;
}

.course-row{
  box-shadow: 0px 10px 4px #D3D3D3;
  background: #ffffff;
}
.course-anchor li{
  display: inline-block;
  margin-right: 5%;
  font-size: 13px;
  font-weight: 600;
  padding: 1% 0;
  border-bottom: solid 2px #ffffff;
  a{
    color: $text-color;
  }
}

.course-anchor li:hover{
  border-bottom: solid $primary-color 2px;
}

#course-advisor{
  color: $text-color;
  h5{
    font-size: 1.5rem;
    font-weight: 500;
  }
  ul {
  list-style: none;
  padding: 1% 0;
  margin-left: 0;
  margin-bottom: 1%;
}

ul li{

  font-size: 14px;
}

ul li:before {
  content: '✓';
}
.spacer{
  height: 100px;
}
.course-action{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 95%;
  p{
    font-weight: 600;
    font-size: 16px;
  }
  .btn-course{
    background: $button-color !important;
  }
  .btn-course:hover{
    background: $primary-color !important;
  }
}
.staff-img {
    width: 150px;
    height: 153px;
}
}
#features{
  color: $text-color;
  h5{
    font-size: 1.5rem;
    font-weight: 500;
  }
  ul{
    list-style: none;
  }
  ul li{
    font-size: 17px;
  }
  ul li:before {
    font-family: 'FontAwesome';
    content: '\f058';
    padding: 1%;
    color: $primary-color;
  }
}
#description{
  color: $text-color;
  h5{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .accordion-title {
    font-size: 15px;
    font-weight: 500;
    color: $primary-color;
  }
  p{
    font-size: 13px;
    color: $text-color;
  }
}
#certification {
  color: $text-color;
  h5 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .accordion-title {
    font-size: 15px;
    font-weight: 500;
    color: $primary-color;
  }
  p{
    font-size: 13px;
    color: $text-color;
  }
}
#faq {
  color: $text-color;
  h5 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .accordion-title {
    font-size: 15px;
    font-weight: 500;
    color: $primary-color;
  }
  p{
    font-size: 13px;
    color: $text-color;
  }
}
.side-bar {
  padding: 0 4% 0 0;
  .show-contact, .show-form {
    span{
      font-size: 15px;
    }
    box-shadow: none;
    background-color: rgb(243, 246, 248);
    background-clip: padding-box;
    margin-bottom: 20px;
    position: relative;
    display: block;
    border-radius: 2px;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 230, 234);
    border-image: initial;

    input[type="text"], input[type="email"], textarea{
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgb(216, 216, 216);;
      background: transparent;
      box-shadow: none;
      -webkit-appearance: none;
      box-sizing: border-box;
      color: #000000;
      display: inline-block;
      font-size: inherit;
      height: 40px;
      outline: none;
      transition: border-color .2s $primary-color;
      width: 100%;
    }
    input[type="text"]:focus{
      border-bottom: solid 1px $primary-color;
    }
    input[type="email"]:focus{
      border-bottom: solid 1px $primary-color;
    }
      textarea:focus{
      border-bottom: solid 1px $primary-color;
    }
    .button{
      background-color: $text-color;
      width: 100%;
    }
    .button:hover{
      background-color: #000000;
    }
  }
  .phone_no{
    float: right;
  }
}
@media screen and (max-width: 480px) {
  .side-bar {
    padding: 1%;
  }
}
