.enroll-header{
  text-align: center;
  margin-bottom: 2%;
}
.choice-btns{
  text-align: center;
  button{
    width:100%;
    font-size: 13px;
    background: white;
    color: $primary-color;
    border: solid #D3D3D3 1px;
    border-radius: 3px;
  }
  button:hover{
    cursor: pointer;
    box-shadow: 0px 10px 4px #D3D3D3;
    color: $primary-color;
    background-color: #ffffff;
  }
}
.card{
  background: transparent;
  border: none;
}
#card-details{
  input[type="text"]{
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: $text-color;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 1;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
  }
  input[type="text"]:focus {
    outline: none;
    border-color: $primary-color;
  }
 button {
    background-color: $button-color;
    text-align: center;
    width: 98%;
    color: #ffffff;
  }

 button:hover{
    background-color: #000000;
  }
  .total-btn{
    width: 98%;
  }
}
.enroll-form{
  h5{
    margin-bottom: 2%;
    font-weight: 600;
  }
  select, input[type="text"], input[type="email"] {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    color: $text-color;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    outline: none;
    transition: border-color .2s $primary-color;
    width: 100%;
  }
  select:focus {
    border-color: $primary-color;
  }
}
.enroll-details{
  h5{
    margin-bottom: 2%;
    font-weight: 600;
  }
  p{
    font-size: 1rem;
  }
}
