.about-title{
  padding: 1% 0 0 0;
  border-bottom: solid $text-color 1px;
  h2{
    font-size: 26px;
    color: #696969;
    font-family: futura-lt-w01-book,sans-serif;
  }
}
.about-text{
  color: $text-color;
  padding-top: 1%;
  p{
    font-size: 12px;
  }
}
.staff-img{
  overflow: hidden;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
.staff-name{
  text-align: center;
  h4{
    color: $primary-color;
    font-weight: 300;
  }
  p{
    font-weight: 600;
  }
}
.contact-frm{
  text-align: center;
  input[type='text'],input[type='email'],textarea{
    -webkit-appearance: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: $text-color;
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
  }
}
input[type='text']:focus{
  border-color: $primary-color;
}
input[type='email']:focus{
  border-color: $primary-color;
}
textarea:focus{
  border-color: $primary-color;
}
.about-btn {
  background-color: #2b2b2b;
  font-weight: 600;
  width: 100%;
}
.about-btn:hover {
  background-color: #000000;
}
.contact-info{
  font-size: 14px;
}