.tabs {
  border: none;
  background: transparent;
}
//.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
//  background: none;
//  color: $primary-color;
//}
//.tabs-title > a {
//  font-size: 16px;
//  font-weight: 600;
//  color: $text-color;
//  padding: 0.5rem 1.5rem;
//  margin-bottom: 5%;
//}
.tabs-content {
  width: 100%;
  border:0;
  background: none;
  font-size: 16px !important;
  color: $text-color;
}