body {
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
}
.web-content{
  background-color: #f5f5f5;
}
.logo-text{
  line-height: 1px;
}
.top-bar{
  padding-top: 0;
}
.top-bar, .top-bar ul {
background-color: #ffffff;
}
.menu li a{
  font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",Helvetica,Arial,sans-serif;
  color: $text-color;
}
.menu li a:hover{
  color: $primary-color;
}
.current a{
  color: $primary-color !important;
}
//.home-main{
//  height: 150vh;
//}
.home-menu{
  text-align: center;
  margin-top: 4%;
}
.menu .menu-text {
  padding: 0 !important;
}
.dropdown.menu a {
  padding: 0.1rem 1.5rem;
  font-weight: 500;
  font-size: 14px;
}
.vertical li a{
  padding: 4% 2% !important;
}
.dropdown.menu .is-active > a{
  color: $primary-color;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: none !important;
  border-color: $primary-color transparent transparent;
}
.is-dropdown-submenu {
  border:none;
  li a:hover{
    text-decoration: underline;
  }
}
.home-row{
  img{
    width: 100%;
  }
  min-width: 100%;
  padding: 0;
  position: relative;
}
.image-holder{
  background: url('/assets/img/staff-dull.png') no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 80vh;
  position: relative;
  .top-bar, .top-bar ul {
    background-color: transparent !important;
  }
  .menu li a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
  }
  .dropdown.menu a {
    padding: 0 2rem;
  }
  .search-btn {
    background-color: $primary-color;
  }
}
.main-content-section{
  img{
    width: 100%;
  }
  padding: 0;
  position: relative;
}
.courses{
  position: absolute;
  bottom: 15%;
  left: 2%;
  right: 2%;
  a img{
    width: 100%;
    height: 100%;
  }
}
//.capm{
//  padding-left: 0;
//}
.find-class{
  background-color: $primary-color;
}
.find-title{
  text-align: center;
  padding-top: 5%;
  h2{
    color: #ffffff;
    font-size: 35px;
    font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",Helvetica,Arial,sans-serif;
  }
}
.sub-header{
  margin-top: 5%;
  text-align: center;
  h1{
    color: #ffffff;
    font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",Helvetica,Arial,sans-serif;
  }
}
.advert{
  font: normal normal normal 15px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  color: $text-color;
  border-top: solid 1px $text-color;
  padding: 1% 0 0 1%;
}

.course-search{
  text-align: center;
  select {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    color: $text-color;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    outline: none;
    transition: border-color .2s $primary-color;
    width: 100%;
  }
  select:focus {
    border-color: $primary-color;
  }
}
.search-btn{
  background-color: #2b2b2b;
  width: 95%;
  font-weight: 600;
}
.search-btn:hover{
  background-color: #000000;
}
.alert {
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
@media screen and (max-width: 480px) {
  .image-holder {
    min-height: 60vh;
  }
  .home-menu{
    li{
      width: 100%;
      border: 0 !important;
      padding: 2% 0;
    }
  }
  .vertical li{
    width: 100%;
  }
  .booking-txt .holder {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;

  }
  .staff-img {
    margin-left: 25%;
  }
}
.title-bar{
  background-color: #ffffff;
}
.title-bar-title{
  color: $primary-color;
  width: 100%;
  height: 100%;
  padding: 2%;
  font-size: 1rem;
}
.tm1menuButton {
  border-radius: 4px;
  position: relative;
  width: 45%;
  height: 100%;
  min-width: 40px;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(143, 209, 105, 1);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.tm1menuButton > .tm1_icon {
  width: 20px;
  overflow: visible;
  stroke-width: 3px;
  stroke: rgba(143, 209, 105, 1);
  height: 17px;
  padding-top: 0px;
  stroke-linecap: flat;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-property: stroke;
  transition-property: stroke;
}
.tm1menuButton.tm1_menuInitial .tm1_line1 {
  -webkit-transform: translateY(0.5px);
  transform: translateY(0.5px);
}
.tm1menuButton.tm1_menuInitial .tm1_line2 {
  -webkit-transform: translateY(8.5px);
  transform: translateY(8.5px);
}
.tm1menuButton.tm1_menuInitial .tm1_line3 {
  -webkit-transform: translateY(16.5px);
  transform: translateY(16.5px);
}
.main-logo{
  img{
    max-width: 55%;

  }
}