.landing-main{
  position: relative;
  height: 100vh;
}
.landing-title{
  h3{
    font: 400 65px/1.5 'Pacifico', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  }
  position: absolute;
  top: 5%;
  height: 70vh;
  text-align: center;
  width: 100%;
  img{
    height: 100%;
  }
}
.contact-btn{
  background-color: #2b2b2b !important;
  font-weight: 600;
  width:40%;
}
.contact-btn:hover{
  background-color: #000000 !important;
}