.login-header{
  text-align: center;
  h5{
    color: $text-color;
    font-size: 26px;
    font-family: futura-lt-w01-book,sans-serif;
  }
}
.form-holder{
  color: $text-color;
  padding: 2%;
  .has-error{
    color: red;
  }
  a, label{
    color: $text-color;
    font-weight: 600;
  }
  a:hover{
    color: $primary-color;
  }
}
.login-btn{
  width: 99%;
  background: $button-color;
}
.login-btn:hover{
  background: #000000;
}
.button-holder{
  text-align: center;
  div{
    width: 100%;
  }
  .inside-holder{
    margin-top: 4%;
  }
}
.fb-button{
  width: 85%;
  background-color: #3b5998;
}
.plus-button{
  width: 85%;
  background-color: #e53935;
}