.mynav{
  background-color: $dark-blue;
  height:100%;
  font-size: 13px;
  font-weight: 400;
  li a:not(.button) {
    color: #ffffff;
  }
  a:hover,  a .fa:hover{
    color: #fff;
  }
  ul .current {
    background-color: $primary-color;
  }
}
.logo{
  width: 5%;
}
#logo{
  padding:0;
}
.contain-to-grid .top-bar {
  margin: 0 auto;
  background: #fff;
  height: 51px;
  max-width: 100%;
  border-bottom: 1px solid rgba(185, 185, 185, 0.47);

  .fa {
    color: #848484;
  }

  .top-bar-section ul li > a {
    font-size: 0.7125rem;
  }
}

.project-title {
  font-weight: 200;
}
@media only screen and (max-width: 479px) {
  .my-title{ display: none !important; }
}
@media screen and (min-width: 480px) and (max-width: 760px) {
  .my-title{ display: none !important; }
}
.name-holder{
  background: $primary-color;
  padding-top: 5%;
  .user-name{
    color:#ffffff;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  .user-name:hover{
    color:#ffffff !important;
  }
}
name-holder .is-active > a{
  color: #ffffff;
}
.name-holder:hover{
  color:#ffffff !important;
  a{
    color:#ffffff !important;
  }
}
#logout{
  background: $primary-color;
  font-size: 13px;
  color: #ffffff;
  a{
    color: #ffffff;
  }
}
.avatar-holder{
  padding: 1%;
  font-size: 20px;
}