.user-content{
  form{
    width: 100%;
  }
  select, input[type='text'],input[type='number'],input[type='email'],input[type='password']{
    -webkit-appearance: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    outline: none;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 99%;
  }

  table thead{
    background-color: $text-color;
    color: #ffffff;
  }
}
.filter-holder{
  div{
    padding: 1%;
  }
}
