@media screen and (min-width: 480px) {
  .pull-right {
    float:right;
  }
  .pull-left{
    float: left;
  }
}
.admin-btns{
  background: $button-color;
  color: #ffffff;
}
.admin-btns:hover{
  background: $text-color;
}
.user-heading{
  div{
    padding: 1%;
  }
}
.action{
  text-align: center;
}
.admin-form-btns{
  width: 100%;
  background: $button-color;
  color: #ffffff;
}
.admin-form-btns:hover{
  background: $text-color;
  color: #ffffff;
}
.admin-form{
  select, input[type="text"], input[type="password"], input[type="email"] {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    color: $text-color;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    outline: none;
    transition: border-color .2s $primary-color;
    width: 100%;
  }
  input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,select:focus {
    border-color: $primary-color;
  }
}
.tbl-holder{
  tfoot{
    background: #ffffff;
    td{
      border:none;
      text-align: right;
      .active{
        background: $primary-color;
        color: #ffffff;
      }
    }
  }
}