.footer-main{
  padding-top: 2%;
  color: $text-color;
}
.footer-links{
  min-width: 100% !important;
  span{
    padding: 0 2%;
  }
  a{
    color: $text-color;
    text-decoration: underline;
  }
  padding: 1%;
  text-align: center;
}

.footer-fixed{
  background: $button-color;
  min-width: 100% !important;
  span{
    padding: 0 2%;
    border-bottom: solid 2px $button-color;
  }
  a:hover{
    color: $primary-color;
  }
  a{
    color: #ffffff;
  }
  padding: 1%;
  text-align: center;
}